html, body {
  height: 100%;
  width: 100%;
}

.tagline-upper {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
}

.tagline-lower {
  font-size: 1.2rem;
  line-height: 1;
}

/* 文字垂直置中 */
.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* 文字大小 */
.text-vcenter h1 {
  font-size: 45px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

/* 第一區塊用 */
#home {
  background: url("https://lh3.googleusercontent.com/e6nvyQuj7bfaCdRrxBllO47Lp7It5SWE0Dgipk7o6UaMmvWjLC5HYwca9BpE5ZqSw6rD_EoyI_R883Q5VCT6sz_7G5L7mtc-ZwvddeR19f-xhyDj_OhvL2Mpb2UB5eDRzZDMDfeRYM8umTN1L20fq49pqd7mqTPp8ve1er0bfuW9mWHvIdbps7SHqgtz9Dn-PfPRugG-W2-NCju-XGkM6u8PmSx7zxUrWIIjAz5fz69O5EWu88m-1Bk-pzbAMV-yr0HFL78-Q_0uP7GYvacLmjsJOP47lvhGZjiZD1pTFp-T94ybEz7ZzGKpTPhPn3QX_QRfk1NI083BQqZV73IHKDJOBPAA4UnKYzaPW17c_3OAxYKo1mw_Ww0oSI7AySDFW9KLiPEKP40BFxZU3QqAMjbJyQgmZXvhxBwnf6YBUssXdsBh_BfnKrMs9fIuERFv5iVTd2aY3Hth6U324wQQlOtXT833Sc1aGgN844lZocBr6jSQiQ4j7ys84KijT_TfnyFPZT7jT14YNHHFgEAqsj5NIZyd0XpFRZqGA8HOmlxBtaGAQJ0WGZvJ1SybSvq5LGQ9FY3Zn2kmrdgQilVbSX5FhtiMRNrfFoVf2JdQFLHR71y3MZC9F23x3rtlZnErvYPVkrMChHSx4o1exFmRNAT8zg91zVJB=w1280-h853-no") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-backgroud-size: cover;
  -moz-backgroud-size: cover;
  -o-backgroud-size: cover;
  background-size: cover;
}

#about {
  background: url("https://lh3.googleusercontent.com/e6nvyQuj7bfaCdRrxBllO47Lp7It5SWE0Dgipk7o6UaMmvWjLC5HYwca9BpE5ZqSw6rD_EoyI_R883Q5VCT6sz_7G5L7mtc-ZwvddeR19f-xhyDj_OhvL2Mpb2UB5eDRzZDMDfeRYM8umTN1L20fq49pqd7mqTPp8ve1er0bfuW9mWHvIdbps7SHqgtz9Dn-PfPRugG-W2-NCju-XGkM6u8PmSx7zxUrWIIjAz5fz69O5EWu88m-1Bk-pzbAMV-yr0HFL78-Q_0uP7GYvacLmjsJOP47lvhGZjiZD1pTFp-T94ybEz7ZzGKpTPhPn3QX_QRfk1NI083BQqZV73IHKDJOBPAA4UnKYzaPW17c_3OAxYKo1mw_Ww0oSI7AySDFW9KLiPEKP40BFxZU3QqAMjbJyQgmZXvhxBwnf6YBUssXdsBh_BfnKrMs9fIuERFv5iVTd2aY3Hth6U324wQQlOtXT833Sc1aGgN844lZocBr6jSQiQ4j7ys84KijT_TfnyFPZT7jT14YNHHFgEAqsj5NIZyd0XpFRZqGA8HOmlxBtaGAQJ0WGZvJ1SybSvq5LGQ9FY3Zn2kmrdgQilVbSX5FhtiMRNrfFoVf2JdQFLHR71y3MZC9F23x3rtlZnErvYPVkrMChHSx4o1exFmRNAT8zg91zVJB=w1280-h853-no") no-repeat center center fixed;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-backgroud-size: cover;
  -moz-backgroud-size: cover;
  -o-backgroud-size: cover;
  background-size: cover;
}

/* 拉大間距 */
.top-bottom-pad {
  padding: 120px 0;
}

/* 背景顏色與字的顏色*/
#services {
  background: rgba:FFFFFF;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-backgroud-size: cover;
  -moz-backgroud-size: cover;
  -o-backgroud-size: cover;
  background-size: cover;
}

/* 圖示字型的大小與外觀 */
#services .glyphicon {
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  font-size: 60px;
  height: 140px;
  line-height: 140px;
  text-align: center;
  vertical-align: middle;
  width: 140px;
}

.p-4 {
  padding: 1.5rem !important;
}
.my-4 {
  margin-top: 1.5rem !important;
}
.my-4 {
  margin-bottom: 1.5rem !important;
}
/* 第3個區塊用 */
.view {
    position: relative;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: default;
}

.view img {
    position: relative;
    display: block;
}

.img-fluid .view img {
    max-width: 100%;
    height: auto;
}

.img-fluid .view img {
    max-width: 100%;
    height: auto;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
    border-style: none;
}

.overlay .mask:hover {
    opacity: 1;
}

.overlay .mask {
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.view .mask {
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.rgba-red-strong {
    background-color: rgba(244,67,54,.7);
}

.flex-center p {
    margin: 0;
}

.flex-center {
  display: flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}

/* 第4個區塊用 */
#info {
  background: url("https://lh3.googleusercontent.com/RkyviSXRB5zcO_NQNIIUA68R41gM_AUeyF4XP4FcetfISslrPR_VrAsYRSSeYfEzAyxZWRbfnVWguvkk5hydkF2FG_RMIscX_xJTwK-wLCDNJDu_qmlj4d0nX8w-P4P1WSyrRZYZRa0vLLtZbMx5kchRaELTW0rSTY_chCRfmK243CrXsHp6jk0-5hNrnLOgNHnkrA0AJjxKKIG_5ocNGbeyOs3PBp7zIEwCM_fspnKKQCx0Z7Uv4r-V7x16quJ22I4_IvQHcC647cTbUMvg0vcg8MsNSKMeWSgQDS17IaeyhPVv8FxvY4Cmo79hU98aHfbHSdIeNThXwn6pNdILOk35Dxs8hwMQyL6D5II7Q5FOC9jI1y8-BUZc1GMeGUgJPvZxerZ85MeNSyk47pOzbvbpaFX70tgwoIq0nEK5GyFNIpYBMalEbOa2DDuUBtj45W8jLHh7PHDaywhR2DHcFYvmFfwQjaKIu7PX2N4-V_2wZrf1kqSZ0gEab1fnnmax1RuUPdx9Qfx1hW9_GwuiIxRi5obJigpD6V9Hv7IVeUzbV7Mekku7_JlW9TMb4gdFB3QJXn_lsMpEhoS8sW_uaVYDPbtI5mgtjb-x3mI=w1460-h969-no") no-repeat center center fixed;
  display: table;
  height: 800px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* 第4個區塊中的新聞用 */
#info .panel {
  opacity: 0.85;
}

/* 第5個區塊中使用 */
#gmap{
   height:500px;
}

/*頁腳使用的樣式*/
footer {
    background-color:#494949;
    color:#ddd;
    min-height:100px;
    padding-top:20px;
    padding-bottom:40px;
}

/*回到上方區塊使用的樣式*/
.scroll-top {
   position:fixed;
   bottom:0;
   right:15px;
   z-index:100;
   font-size:24px;
   margin-bottom:20px;
   margin-right:10px;
   background-color: #8f8f8f;
}
.scroll-top a:link, .scroll-top a:visited {
   color:#777;
}
